/8 - Graph anon kl-anon.pdf
/9 - Graph anon - class based.pdf
/DPP - Exam 2024-01-16.pdf
/DPP - Exam 2024-02-06.pdf
/DPP - Exam 2024-06-03.pdf
/DPP - Exam 2024-09-06.pdf
/DPP 2024-01 - Introduction.pdf
/DPP 2024-02 - Multidimensional data.pdf
/DPP 2024-03 - Complex data.pdf
/DPP 2024-04 - Threats to Anonymized Data.pdf
/DPP 2024-05 - Data Mining.pdf
/DPP 2024-06 - Data Generation.pdf
/DPP 2024-07 - Privacy Preserving Test Data.pdf
/DPP 2024-08 - Exam projects.pdf
/DPP-Slides.pdf
/GraphInfoFlow.CCS2012.pdf
/IIT_map_max25autori_min10docs_tutti.txt
/IIT_map_max25autori_min3docs_tutti.txt
/IIT_map_max25autori_min5docs_tutti.txt
/IIT_net.txt
/IIT_net_max25autori_min10docs_tutti.txt
/IIT_net_max25autori_min3docs_tutti.txt
/IIT_net_max25autori_min5docs_tutti.txt
/MASK.pdf
/MultiDim.pdf
/env
/facebook_combined.txt
/gdpr-dpia.pdf
/graph_analysis v1.ipynb
/graph_analysis v2.ipynb
/graph_analysis v3.1 copy 2.ipynb
/graph_analysis v3.1 copy.ipynb
/graph_analysis v3.1.ipynb
/graph_analysis v3.ipynb
/graph_analysis v4.ipynb
/graph_analysis v5 copy 2.ipynb
/graph_analysis v5 copy 3.ipynb
/graph_analysis v5 copy.ipynb
/lab01
/lab02
/sec15-paper-ji.pdf
/sigmod_privacy_graph.pdf
/tables
/www07-anon.pdf